IndentWidth: 4
TabWidth: 4
UseTab: Never
ColumnLimit: 120
BasedOnStyle: LLVM

AllowShortFunctionsOnASingleLine: None
AllowShortBlocksOnASingleLine: Never
AllowShortIfStatementsOnASingleLine: Never

AlwaysBreakAfterDefinitionReturnType: None
BraceWrapping:
  AfterControlStatement: Always

IndentCaseLabels: true
